a,input[type=text],input[type=password],textarea{padding:0}article,aside,audio,b,body,canvas,dd,details,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,img,label,li,mark,menu,nav,ol,p,section,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,u,ul,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:0 0;font-size:100%}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}table{border-collapse:collapse;border-spacing:0}td,td img{vertical-align:top}button,input,select,textarea{margin:0;font-size:100%;border:0;outline:0}sub,sup{font-size:smaller}input[type=checkbox]{vertical-align:bottom}input[type=radio]{vertical-align:text-bottom}sub{vertical-align:sub}sup{vertical-align:super}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}nav ul,ul{list-style:none}html{font-size:10px}select{appearance:none;-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}
body {
  font-size: 16px;
  font-family: Roboto;
  color: #5D6665;
  line-height: normal;
}
p{
    margin-top: 15px;
    margin-bottom: 15px;
}
img{
  max-width: 100%;
}
.limit {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}
.ib_cont{
  font-size: 0;
  
}
.ib_cont.justify{
  text-align: justify;
  overflow: hidden;
  text-justify: newspaper;
        zoom:1;
}
.ib_cont.center{
  text-align: center;
}
.ib_cont__item{
  display: inline-block;
  vertical-align: top;
  font-size: inherit;
}
.ib_cont__item p{
  font-size: 16px;
  text-align: left;
}
.ib_cont.mid .ib_cont__item{
  vertical-align: middle;
}
.ib_cont.justify:after{
  content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 0;
    visibility: hidden;
}
